@media (width >= 0) and (width <= 320px) {
}

@media (width >= 321px) and (width <= 430px) {
}

@media (width >= 431px) and (width <= 768px) {
}

@media (width >= 769px) and (width <= 1024px) {
}

@media (width >= 1025px) and (width <= 1440px) {
}

@media (width >= 1441px) {
}
